@import '../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import "../../node_modules/@syncfusion/ej2-react-grids/styles/material.css";
@import '../../node_modules/@syncfusion/ej2-icons/styles/material.css';


@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body, h1, p {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  text-align: center;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  padding: 20px;
  background: #121212;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: var(--foreground);
  margin: 20px auto;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #4CAF50;
}

h2 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #FFFFFF;
}

p {
  font-size: 16px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
    font-size: 14px;
  }
  h1 {
    font-size: 18px;
  }
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

section {
  padding: 30px;
}

a:hover{
  color: #4CAF50;
}

input{
  color: black;
}

select {
  color: black;
}

textarea {
  color: black;
}

ul{
  color: black;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Dark Mode styles */
.e-grid .e-headercell,
.e-grid .e-cell,
.e-grid .e-summarycell,
.e-grid .e-headercontent,
.e-rowcell,
.e-gridpager,
.e-icons {
   font-family: 'Poppins', sans-serif !important;
    background-color: #121212 !important; /* Set background color to #121212 */
    color: #ffffff !important; /* Set text color to white */
}

.e-pager .e-firstpagedisabled, .e-pager .e-prevpagedisabled, .e-pager .e-nextpagedisabled, .e-pager .e-lastpagedisabled {
    opacity: 1 !important;
}

.e-pager .e-currentitem, .e-pager .e-currentitem:hover {
    background: #4CAF50 !important;
    color: #FFFFFF !important;
}

.e-sortfilterdiv .e-icons{
    color: #FFFFFF !important;
}
/* Additional styles for Syncfusion Grid container */
.e-grid {
    background-color: #121212 !important; /* Set background color to #121212 */
    border-radius: 5px; /* Add rounded corners */
    overflow: hidden; /* Ensure overflow content is hidden within rounded corners */
    border-radius: 15px !important; /* Add rounded corners */
    border-width: 1.5px !important;
}

.e-gridheader {
    overflow: hidden; /* Ensure overflow content is hidden within rounded corners */
    border-top-width: 1.5px !important; /* Add rounded corners */
    border-top-right-radius: 15px !important; /* Add rounded corners */
    border-top-left-radius: 15px !important;
}

.e-pagercontainer{
  background-color: #121212 !important;
}

.e-content{
  background-color: var(--background) !important;
}

.e-link.e-numericitem.e-spacing.e-pager-default:hover{
  background-color: #4CAF50 !important;
  color: #FFFFFF !important;
}

.grid-container{
    padding-left: 10%;
    padding-right: 10%;
}

.gridLink{
    color: #4CAF50;
}

.e-gridheader .e-headercell {
  font-size: 1.1rem !important;
  font-weight: 600;
}

.e-filtermenudiv.e-icons.e-icon-filter{
  visibility: hidden !important;
}

.e-headertext{
  font-size: 0.85rem !important;
  font-weight: 600;
}

.e-headercelldiv{
  text-align: center !important;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.e-filterbarcell {
  background-color: #121212 !important;
  color: #ffffff !important;
}
.e-input-group.e-control-wrapper{
  background-color: #121212 !important; 
  color: #ffffff !important;
}

.e-grid .e-gridpager .e-prevpage::before {
  content: "⏴";
}
.e-grid .e-gridpager .e-firstpage::before {
  content: "⏮";
}
.e-grid .e-gridpager .e-nextpage::before {
  content: "⏵";
}
.e-grid .e-gridpager .e-lastpage::before {
  content: "⏭";
}

.e-grid .e-gridpager .e-prevpagedisabled,
.e-grid .e-gridpager .e-firstpagedisabled,
.e-grid .e-gridpager .e-nextpagedisabled,
.e-grid .e-gridpager .e-lastpagedisabled {
  display: none !important;
  /* font-size: 100px;
  content: "⏭"!important; */
}

.e-control.e-pager.e-lib{
  background-color: #121212 !important;
  color: #ffffff !important;
  border: 0;
}